/* General formatting */

* {
  box-sizing: border-box;
}

#page-wrap {
  margin-right: auto;
  margin-left: auto;
}

body {
  background-image:url(images/web-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 125%;
}

img {
  width: 100%;
}

ol {
  list-style-type: none;
}

header h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3,
h4,
h5 {
  font-family: 'Volkhov', serif;
}

nav,
label,
p {
  font-family: 'Volkhov', serif;
  font-weight: 400;
}

h4,
h5 {
  margin-bottom: -10px;
}

.intro h4 {
  margin: -2% 0 0 0;
}

main p {
  text-align: center;
}

footer {
  background: rgb(2, 12, 7);
  color: #ffffff;
  text-align: center;
  margin: 0% auto;
  padding: 1px 0;
  max-width: 900px;
}

/* FlexBox */
/* Header Formatting */
.head-container {
  width: 100%;
  display: flex;
  background-color: rgb(2, 12, 7);
  color: #ffffff;
  flex-wrap: wrap;
}

.intro-box {
  flex: 1;
  width: 100%;
  margin-left: 2%;
  justify-self: center;
  text-align: center;
}

header nav {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  justify-self: center;
  text-align: center;
  margin-top: 10px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  margin: 2% 10%;
  min-width: 200px;
  text-align: right;
}

header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 35px 0 35px;
}
/* Main section formatting */

.main-container {
  display: flex;
  flex-flow: column wrap;
  background-color: rgba(16, 44, 16, .4);
  max-width: 900px;
  color: white;
}

.container {
  display: flex;
  flex-flow: column wrap;
}

.main-img {
  justify-self: flex-start;
  align-self: center;
  margin: 5% 0 0 0;
}

.main-img img {
  border-radius: 10px;
  justify-content: center;
  max-width: 350px;
}

.things-loved {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.image-item {
  flex: 1;
  margin: 10px;
}

.personal {
  justify-self: flex-start;
  margin: 0 2% 0 2%;
}
.personal,
h3 {
  text-align: center;
}

.intro {
  justify-self: flex-start;
  margin: 0 3% 0 3%;
}
.intro,
h3 {
  text-align: center;
}

/* Traits (skills) containers */
.traits-container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 85%;
  margin-left: 7.5%;
}

.traits-box {
  flex: 1;
  width: 100%;
  max-width: 400px;
  background-color: rgb(2, 12, 7);
  color: #ffffff;
  margin-bottom: 20px;
  padding: 15px 20px;
}

.traits-box2 {
  flex: 1;
  width: 100%;
  max-width: 400px;
  background-color: rgb(2, 12, 7);
  color: #ffffff;
  margin-bottom: 20px;
  padding: 15px 20px;
}

/* Projects section*/

.projects-container {
  display: flex;
  width: 90%;
  flex-flow: column wrap;
  border-color: #000;
  margin: 3% 5% 3% 5%;
}

.project {
  padding: 1% 2%;
  background-color: rgb(2, 12, 7);
  color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
}
.project a {
  text-decoration: none;
  color: #bec5c2;
}

/* Contact section*/

.contact {
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}

.contact a {
  color: #fff;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.contact-me-text {
  width: 100%;
  font-size: x-large;
  text-align: center;
}

.send-email {
  font-size: large;
  background-color: rgb(2, 12, 7);
  color: #fff;
  padding: 10px 20px;
  width: 85%;
  text-decoration: none;
}

/* E-mail form formatting */

.email-form {
  display: flex;
  flex-flow: column wrap;
  font-size: large;
  color: #fff;
  text-align: left;
  text-justify: left;
  width: 85%;
  background: rgb(2, 12, 7);
  padding: 10px 15px;
}

.email-form textarea {
  flex: 1;
  justify-self: flex-end;
  resize: none;
  width: 100%;
  height: 100px;
  border: solid 2px #000;
}

.name-address-group {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 10px;
  justify-content: center;
}

.name-address-group input {
  display: block;
  width: 100%;
  border: solid 2px #000;
}

.email-form fieldset {
  flex: 1;
  width: 100%;
  align-self: center;
  max-width: 900px;
  border: solid 2px #000;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.bSpace {
  margin-left: 20px;
}

.formButton {
  border: solid 2px #bec5c2;
  border-radius: 0;
  background-color: rgb(2, 12, 7);
  color: #bec5c2;
}

/* FlexBox element controls with Media Queries */

@media all and (min-width: 900px) {
  /* Page max width/wrapping class */

  #page-wrap {
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    min-width: 920px;
    background-color: transparent;
  }

  /* Desktop header formatting */

  .head-container {
    max-width: 900px;
    margin: auto;
    flex-flow: column wrap-reverse;
  }

  .name-box {
    flex: 3;
    text-align: center;
    font-size: large;
  }

  /* Desktop header nav formatting */

  header nav {
    text-align: center;
    align-content: center;
  }

  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(35, 51, 51);
  }

  header nav ul li {
    margin: 0;
    min-width: 0;
    float: left;
  }

  header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }

  header nav ul li a:hover {
    background-color: #ffffff;
    color: rgb(2, 12, 7);
  }

  /* Desktop main section formatting */

  .main-img,
  img {
    max-width: 400px;
    border-radius: 10px;
  }

  /* Desktop main section FlexBox formatting */
  .container {
    flex-flow: row wrap;
    margin: auto;
  }
  .main-img {
    justify-self: flex-start;
    align-self: center;
    border-radius: 10px;
  }
  .traits-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 97%;
    padding-left: 2.9%;
    margin-left: 0;
  }

  .traits-box {
    padding: 10px 20px;
  }

  .traits-box2 {
    padding: 10px 20px;
    background: rgb(2, 12, 7);
  }
  .main-container {
    width: 100%;
    margin: auto;
  }
  .projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .projects-container a:hover {
    background-color: #ffffff;
    color: rgb(2, 12, 7);
  }
  .project {
    flex: 1;
    min-width: 300px;
    max-width: 49%;
    margin-bottom: 14px;
    background-color: rgb(2, 12, 7);
    color: #fff;
  }

  .project2 {
    flex: 1;
    min-width: 300px;
    max-width: 49%;
    margin-bottom: 14px;
    background-color: rgb(2, 12, 7);
    color: #fff;
  }

  .resources a:hover {
    color: antiquewhite;
  }
  /* Desktop e-mail form formatting */

  .email-form {
    width: 85%;
  }

  .name-address-group {
    display: flex;
    flex-wrap: wrap;
  }

  .name-address-group input {
    width: 204%;
  }

  .name-address-group div {
    width: 49%;
  }
}
